<div data-movie-id="{{ movie.id }}" class ="">
    <a href="#">
        <img class="" src="{{ movie.poster }}" alt="Pôster de {{ movie.title }}" />
    </a>

    <div class="">
        <a href="#">
            <h3 class=""/>  {{ movie.title }}</h3>
            <p class="">{{ movie.plot }}</p>
            <p class="">{{ movie.genre }}</p>
            <p class="">{{ movie.ratings }}</p>
        </a>
    </div>
</div>